@font-face {
    font-family: "SpartanA";
    src: url('../Spartan/static/Spartan-Medium.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "SpartanB";
    src: url('../Spartan/static/Spartan-SemiBold.ttf');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: "SpartanC";
    src: url('../Spartan/static/Spartan-Bold.ttf');
    font-weight: normal;
    font-size: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --darkGray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --veryDarkGray: hsl(0, 0%, 27%);
    font-size: 12px;
    font-family: 'SpartanA', sans-serif;
}
.container{
    height: 88vh;
    display: grid;
    grid-template-columns: 29% 29.2% 11% 1fr;
    grid-template-rows: 57% 10% 1fr;
    grid-template-areas:"hero hero shop shop"
                        "hero hero nextBack ."
                        "table about about chair";
    gap:0px;   
}
.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hero{
    grid-area: hero;
    background-image: url('../images/desktop-image-hero-1.jpg');

}
.shop{
    grid-area: shop;
    background-color: white;
    padding: 2rem 5rem 0 7rem;
    align-self: center;
}
h1{
    font-family: 'SpartanB';
    font-size: 3.2rem;
    letter-spacing: 1px;
}
p{
    color: var(--darkGray);
    line-height: 1.7rem;
    margin: 1.5rem 3rem 1.5rem 0 ;
}
.shop p{
    margin-bottom: 3rem;
}
.arrow{
    text-transform: uppercase;
    margin-top: 1rem;
    letter-spacing: .8rem;
    font-family: 'SpartanB';
}
.arrow-icon{
    background-image: url('../images/icon-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 50px;
    height: 10px;
    display: inline-block;
}
.nextBack{
    grid-area: nextBack;
    display: flex;
}
.table{
    grid-area: table;
    background-color: black;
    background-image: url('../images/image-about-dark.jpg');
}
.about{
    grid-area: about;
    background-color: white;
    padding: 2rem 0 0 3rem;
    align-self: center;

}
h2{
    text-transform: uppercase;
    font-family: 'SpartanC';
    font-size: 1rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.chair{
    grid-area: chair;
    background-image: url('../images/image-about-light.jpg');
}

.button{
    background-color: var(--black);
    width: 50%;
    height: 100%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20%;
    cursor: pointer;
}
.button:hover{
    background-color: var(--veryDarkGray);
}
#back{
    background-image: url('../images/icon-angle-left.svg');
}
#next{
    background-image: url('../images/icon-angle-right.svg');
}
